In [1]:
''' 
Data Encoding : process of converting categorical data into numerical data
Differentt types of Encoding techniques
1)Nominal/OHE Encoding
2)Label And Ordinal Encoding
3)Tareget Guided Ordinal Encoding
'''

' \nData Encoding : process of converting categorical data into numerical data\nDifferentt types of Encoding techniques\n1)Nominal/OHE Encoding\n2)Label And Ordinal Encoding\n3)Tareget Guided Ordinal Encoding\n'

In [2]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [3]:
#creating a simple Dataframe
df=pd.DataFrame({
    "color":["red","blue","green","green","red","blue"]
})

In [4]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
#Creating a instance of OneHotEncoder
encoder=OneHotEncoder()

In [6]:
#Perform fit and and transform
#first it creates a sparse matrix
sparse_matrix=encoder.fit_transform(df[["color"]])

In [17]:
sparse_matrix

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [18]:
type(sparse_matrix)

scipy.sparse._csr.csr_matrix

In [8]:
#Now transform 
encoded=sparse_matrix.toarray()

In [9]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [14]:
type(encoded)

numpy.ndarray

In [10]:
import pandas as pd 
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [11]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [12]:
#what if i get new Data
encoder.transform([["blue"]]).toarray()

d:\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [13]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0