In [1]:
''' 
Label And Ordinal Encoding
'''

' \nLabel And Ordinal Encoding\n'

In [2]:
import pandas as pd

In [45]:
#creating a simple Dataframe
df=pd.DataFrame({
    "color":["red","blue","green","green","red","blue"]
})

In [46]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [47]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()
#print(type(LabelEncoder))

In [48]:
#Note color should be given in [[]] to make it two dimension
lbl_encoder.fit_transform(df["color"])

sklearn.preprocessing._label.LabelEncoder

In [49]:
lbl_encoder.transform(["blue"])

array([0])

In [51]:
lbl_encoder.transform(["red"])

array([2])

In [50]:
lbl_encoder.transform(["green"])

array([1])

In [10]:
#One problem with label encoding is for red it is giveing 
#two(2) that our model might think red is greater than green and blue

In [11]:
#Ordinal Encoding is used when ranking is important
''' 
ex: high school:1
    college:2 
    graduate:3
    post graduate:4
'''

' \nex: high school:1\n    college:2 \n    graduate:3\n    post graduate:4\n'

In [12]:
#Ordianl Encoding
from sklearn.preprocessing import OrdinalEncoder
df=pd.DataFrame({
    "size":["small","medium","large","medium","small","large"]
})

In [13]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [14]:
#Creating an instance and then perform transform
encoder=OrdinalEncoder(categories=[["small","medium","large"]])

In [15]:
encoder.fit_transform(df[["size"]])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [16]:
encoder.transform([["small"]])

d:\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

In [17]:
'''   
Summary


Labeled Encoding is best for nominal data without order but can introduce misleading relationships.
Ordinal Encoding is effective for ordinal data but assumes equal spacing between categories, which may not hold true.







'''

'   \nSummary\n\n\nLabeled Encoding is best for nominal data without order but can introduce misleading relationships.\nOrdinal Encoding is effective for ordinal data but assumes equal spacing between categories, which may not hold true.\n\n\n\n\n\n\n\n'