In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("cardekho_imputated.csv")

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True,axis=1)

In [5]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [6]:
#Data Cleaning

In [7]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [8]:
#Remmove unnessary columns 
df.drop(columns=["car_name","brand"],axis=1,inplace=True)

In [9]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [10]:
len(df["model"].unique())

120

In [11]:
#Getting all different Types of  features 
num_features=[feature for feature in df.columns if df[feature].dtype!="O"]
print(f"number of numeric features are: {len(num_features)}")
cat_features=[feature for feature in df.columns if df[feature].dtype=="O"]
print(f"number of categorical features are: {len(cat_features)}")
#If a Column contains categories less than or equal to 25 than it is said to be discreate feature
discreate_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print(f"number of Discreate features are: {len(discreate_features)}")
continous_features=[feature for feature in num_features if len(df[feature].unique())>25]
print(f"number of Continous features are: {len(continous_features)}")

number of numeric features are: 7
number of categorical features are: 4
number of Discreate features are: 2
number of Continous features are: 5

In [12]:
#Splitting Dataset into Dependent and independent Featurees
X=df.drop("selling_price",axis=1)
y=df["selling_price"]

In [13]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [14]:
df["model"].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [15]:
print(len(df["model"].value_counts()))

120

In [16]:
len(df["model"].unique())

120

In [17]:
#Applying label Encoding to the Model features
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [18]:
X["model"]=le.fit_transform(X["model"])

In [19]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [20]:
#only 3 categories 
X["seller_type"].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [21]:
X["fuel_type"].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [22]:
X["transmission_type"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [23]:
#These above three features have very less categories so we can apply OneHotEncoding to these three

In [24]:
num_features=X.select_dtypes(exclude="object").columns 
one_hot_features=['seller_type','fuel_type','transmission_type']

In [25]:
#Create a column transfoemer with three types of Transformers
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [26]:
numeric_transformer=StandardScaler()
Oh_transformers=OneHotEncoder(drop="first")
preprocessor=ColumnTransformer(
    transformers=[
        ("numeric_transformer",numeric_transformer,num_features),
        ("oh_transformer",Oh_transformers,one_hot_features)
        ],remainder="passthrough"
)

In [27]:
X=preprocessor.fit_transform(X)

In [28]:
import sys
import numpy as np 
np.set_printoptions(threshold=sys.maxsize)
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022,1.0,0.0,0.0,0.0,0.0,1.0,1.0
2,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022,1.0,0.0,0.0,0.0,0.0,1.0,1.0
3,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022,1.0,0.0,0.0,0.0,0.0,1.0,1.0
4,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022,0.0,0.0,0.0,0.0,0.0,1.0,1.0
15407,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444,0.0,0.0,0.0,0.0,0.0,1.0,1.0
15408,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022,0.0,0.0,1.0,0.0,0.0,0.0,1.0
15409,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444,0.0,0.0,1.0,0.0,0.0,0.0,1.0
15410,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [29]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

MODEL TRAINING

In [30]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [31]:
#Creating a function to evaluate Model
import math
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=math.sqrt(mse)
    r2score=r2_score(true,predicted)
    return mae,rmse,r2score

In [32]:
#Beggining the Model Training
models={
    "Linear Regression":LinearRegression(),
    "Decision Tree Regressor":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor(),
    "K-Nearest-Regressor":KNeighborsRegressor(),
    "Lasso":Lasso(),
    "Ridge":Ridge()
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #make Predictions
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    #Evaluate train and test Datasets
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)

    model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)


    print(list(models.keys())[i])

    print("Model Perfomance For Training Set ")
    print("Root mean Squared Error {:.4f}".format(model_train_rmse))
    print("Mean Absolute Error {:.4f}".format(model_train_mae))
    print("r2_score {:.4f}".format(model_train_r2))

    print("--------------------------------------")

    print("Model Perfomance For Testing Set ")
    print("Root mean Squared Error {:.4f}".format(model_test_rmse))
    print("Mean Absolute Error {:.4f}".format(model_test_mae))
    print("r2_score {:.4f}".format(model_test_r2))

    print("="*30)

Linear Regression
Model Perfomance For Training Set
Root mean Squared Error 553855.6665
Mean Absolute Error 268101.6071
r2_score 0.6218
--------------------------------------
Model Perfomance For Testing Set
Root mean Squared Error 502543.5930
Mean Absolute Error 279618.5794
r2_score 0.6645
==============================
Decision Tree Regressor
Model Perfomance For Training Set
Root mean Squared Error 20797.2352
Mean Absolute Error 5164.8199
r2_score 0.9995
--------------------------------------
Model Perfomance For Testing Set
Root mean Squared Error 303032.9065
Mean Absolute Error 124610.1660
r2_score 0.8780
==============================
Random Forest Regressor
Model Perfomance For Training Set
Root mean Squared Error 128102.3699
Mean Absolute Error 39753.7044
r2_score 0.9798
--------------------------------------
Model Perfomance For Testing Set
Root mean Squared Error 222342.5495
Mean Absolute Error 101060.1519
r2_score 0.9343
==============================
K-Nearest-Regressor
Model Perfomance For Training Set
Root mean Squared Error 325873.4263
Mean Absolute Error 91426.3628
r2_score 0.8691
--------------------------------------
Model Perfomance For Testing Set
Root mean Squared Error 253024.3951
Mean Absolute Error 112526.3461
r2_score 0.9150
==============================
Lasso
Model Perfomance For Training Set
Root mean Squared Error 553855.6710
Mean Absolute Error 268099.2219
r2_score 0.6218
--------------------------------------
Model Perfomance For Testing Set
Root mean Squared Error 502542.6698
Mean Absolute Error 279614.7453
r2_score 0.6645
==============================
Ridge
Model Perfomance For Training Set
Root mean Squared Error 553856.3160
Mean Absolute Error 268059.8015
r2_score 0.6218
--------------------------------------
Model Perfomance For Testing Set
Root mean Squared Error 502533.8230
Mean Absolute Error 279557.2169
r2_score 0.6645
==============================

In [33]:
#From the above we can see that both KNN and Decision tree regressor both are doing good

In [34]:
#Lets hyperParameterTune both the models 
#Initailaizing few parameters for hyperprameter tuning
knn_params={"n_neighbors":[2,3,10,20,40,50]}
rf_params={
    "n_estimators": [10, 50, 100, 200, 500,],
    "max_depth": [5, 10, 20, 50, 100],
    "min_samples_split": [2, 5, 10],
    "max_features":[5,10,None,8]
}

In [35]:
#Models list for Hyperparameter tuning
randomcv_models=[
    ("KNN",KNeighborsRegressor(),knn_params),
    ("RandomForest",RandomForestRegressor(),rf_params)
]

In [36]:
#hyper parameter tuning using Randomized Cv
from sklearn.model_selection import RandomizedSearchCV
model_param={}
for name,model,params in randomcv_models:
    random=RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name]=random.best_params_


for model_name in model_param:
    print(f"-----Best Params for {model_name}----------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits

KeyboardInterrupt: